<div class="container mt-4 mb-5">
  <div class="row">
      <div class="col"></div>
      <div class="col-md-8">
          <div class="card">
              <div class="card-header">
                <h5 class="card-title text-center">Alta Clientes</h5>
              </div>
              <div class="card-body">
                  <h5 class="card-text text-center">Ingresa los datos.</h5>
                  <form  [formGroup]="crearform">
                      <div class="form-group row">
                          <label for="" class="col-sm-4 col-form-label">Agrega un Cliente: </label>

                            <input type="text"
                                   placeholder="Escoge un Cliente"
                                   aria-label="Number"
                                   name="clientei" id="clientei" [(ngModel)]="clientei" formControlName="clientei"
                                    required>
                                   <div *ngIf="crearform.controls['clientei'].invalid && (crearform.controls['clientei'].dirty || crearform.controls['clientei'].touched)"
                              class="invalid-feedback">
                              </div>
                      </div>
                      <div class="text-center">
                        <button  class="button btn-success btn-lg" style="width: 50%;" [disabled]="crearform.invalid" (click)="agregar()">Agregar</button>
                    </div>
                  </form>
              </div>
            </div>
      </div>
      <div class="col">
      </div>
  </div>
</div>
