
<div style="background-color:aliceblue">

  <div style="margin-left: 40%;">

    <p>Busqueda por Folio Interno   <button class="btn btn-info" #Folio value="FI" style="margin-left: 5%;" (click)="toggle(Folio.value)">
      <i class="fa fa-search"></i></button></p>
      <ng-container  *ngIf="busquedaFI">
        <label >Ingresa el numero de folio interno:</label><br>
        <input type="number" #folioI ><button class="btn btn-info"  style="margin-left: 1%;" (click)="buscarFI(folioI.value)">Buscar</button>
      </ng-container>
  </div>
  <div class="table-responsive" *ngIf="encontradoFI">
    <table class="table table-striped table-light table-hover table-sm border" >
      <thead class="thead-dark" >
        <tr >
          <th scope="col">FI</th>
          <th scope="col">Cliente</th>
          <th scope="col">Llegada</th>
          <th scope="col">Obs Ventas</th>
          <th scope="col">OC</th>
          <th scope="col">Factura</th>
          <th scope="col">RC Fac</th>
          <th scope="col">Chofer</th>
          <th scope="col">Embarcador</th>
          <th scope="col">Obs Almacen</th>
          <th scope="col">Fecha de Entregado</th>
          <th scope="col">Obs Cobranza</th>
          <th scope="col">Tipo de Cobranza</th>
        </tr>
      </thead>
      <tbody style="border: 1px solid black !important;  border-collapse: collapse !important;">
        <tr *ngFor="let dato of resFI" >
          <th scope="row">{{dato.FolioInterno}}
            <ng-container *ngIf="tipo=='Admin'"><br><button class="btn-warning" (click)="modificar(dato.FolioInterno)">Modificar</button></ng-container>

          </th>
          <td>{{dato.Cliente}}<br><button class="btn-success" data-toggle="modal" data-target="#verMas" (click)="botonVer(dato.FolioInterno)">Ver Más</button>

          </td>
          <td>{{dato.FechaLlegada | date : 'short'}}</td>
          <td>{{dato.ObservacionesVentas}}</td>
          <td>{{dato.OC}}</td>
          <td>{{dato.Factura}}</td>
          <td>{{dato.RCFactura | date : 'short'}}</td>
          <td>{{dato.Chofer}}</td>
          <td>{{dato.Embarcador}}</td>
          <td>{{dato.ObservacionesAlmacen}}</td>
          <td> {{dato.FechaEntregado | date : 'short'}}</td>
          <td>{{dato.ObservacionesCobranza}}</td>
          <td>{{dato.TipoCobranza}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>

  <div style="margin-left: 40%;">
    <p>Busqueda por Cliente<button class="btn btn-info" #Cliente value="C" style="margin-left: 10%;" (click)="toggle(Cliente.value)">
      <i class="fa fa-search"></i></button></p>
      <ng-container  *ngIf="busquedaC">
        <label>Ingresa el nombre del cliente:</label><br>
        <input type="text" #cliente><button class="btn btn-info" style="margin-left: 1%;" (click)="buscarC(cliente.value)">Buscar</button>
      </ng-container>
  </div><hr>
  <div class="table-responsive" *ngIf="encontradoC">
    <table class="table table-striped table-light table-hover table-sm border" >
      <thead class="thead-dark" >
        <tr >
          <th scope="col">FI</th>
          <th scope="col">Cliente</th>
          <th scope="col">Llegada</th>
          <th scope="col">Obs Ventas</th>
          <th scope="col">OC</th>
          <th scope="col">Factura</th>
          <th scope="col">RC Fac</th>
          <th scope="col">Chofer</th>
          <th scope="col">Embarcador</th>
          <th scope="col">Obs Almacen</th>
          <th scope="col">Fecha de Entregado</th>
          <th scope="col">Obs Cobranza</th>
          <th scope="col">Tipo de Cobranza</th>
        </tr>
      </thead>
      <tbody style="border: 1px solid black !important;  border-collapse: collapse !important;">
        <tr *ngFor="let dato of resC" >
          <th scope="row">{{dato.FolioInterno}}
            <ng-container *ngIf="tipo=='Admin'"><br><button class="btn-warning" (click)="modificar(dato.FolioInterno)">Modificar</button></ng-container>
          </th>
          <td>{{dato.Cliente}}<br><button class="btn-success" data-toggle="modal" data-target="#verMas" (click)="botonVer(dato.FolioInterno)">Ver Más</button></td>
          <td>{{dato.FechaLlegada | date : 'short'}}</td>
          <td>{{dato.ObservacionesVentas}}</td>
          <td>{{dato.OC}}</td>
          <td>{{dato.Factura}}</td>
          <td>{{dato.RCFactura | date : 'short'}}</td>
          <td>{{dato.Chofer}}</td>
          <td>{{dato.Embarcador}}</td>
          <td>{{dato.ObservacionesAlmacen}}</td>
          <td> {{dato.FechaEntregado | date : 'short'}}</td>
          <td>{{dato.ObservacionesCobranza}}</td>
          <td>{{dato.TipoCobranza}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="margin-left: 40%;">
    <p>Busqueda por Fecha de Entregado    <button class="btn btn-info" #Fecha value="F" (click)="toggle(Fecha.value)">
      <i class="fa fa-search"></i></button></p>
      <ng-container  *ngIf="busquedaF">
        <label for="fechaDe">Ingresa la Fecha:</label><br>
        <input type="date" style="margin-left: -10%;" #fechaDe ><input type="date" style="margin-left: 1%;" #fechaHasta >
        <button class="btn btn-info" style="margin-left: 4%;" (click)="buscarF(fechaDe.value,fechaHasta.value)">Buscar</button>
      </ng-container>
  </div><hr>
  <div class="table-responsive" *ngIf="encontradoF">
    <table class="table table-striped table-light table-hover table-sm border" >
      <thead class="thead-dark" >
        <tr >
          <th scope="col">FI</th>
          <th scope="col">Cliente</th>
          <th scope="col">Llegada</th>
          <th scope="col">Obs Ventas</th>
          <th scope="col">OC</th>
          <th scope="col">Factura</th>
          <th scope="col">RC Fac</th>
          <th scope="col">Chofer</th>
          <th scope="col">Embarcador</th>
          <th scope="col">Obs Almacen</th>
          <th scope="col">Fecha de Entregado</th>
          <th scope="col">Obs Cobranza</th>
          <th scope="col">Tipo de Cobranza</th>
        </tr>
      </thead>
      <tbody style="border: 1px solid black !important;  border-collapse: collapse !important;">
        <tr *ngFor="let dato of resF" >
          <th scope="row">{{dato.FolioInterno}}
            <ng-container *ngIf="tipo=='Admin'"><br><button class="btn-warning"  (click)="modificar(dato.FolioInterno)">Modificar</button></ng-container>
          </th>
          <td>{{dato.Cliente}}<br><button class="btn-success" data-toggle="modal" data-target="#verMas" (click)="botonVer(dato.FolioInterno)">Ver Más</button></td>
          <td>{{dato.FechaLlegada | date : 'short'}}</td>
          <td>{{dato.ObservacionesVentas}}</td>
          <td>{{dato.OC}}</td>
          <td>{{dato.Factura}}</td>
          <td>{{dato.RCFactura | date : 'short'}}</td>
          <td>{{dato.Chofer}}</td>
          <td>{{dato.Embarcador}}</td>
          <td>{{dato.ObservacionesAlmacen}}</td>
          <td> {{dato.FechaEntregado | date : 'short'}}</td>
          <td>{{dato.ObservacionesCobranza}}</td>
          <td>{{dato.TipoCobranza}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--modal-->
<ng-container >
  <div class="modal fade" id="verMas" tabindex="-1" role="dialog" aria-labelledby="verMasLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="verMasLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped table-light table-hover table-sm border" >
              <thead class="thead-dark" >
                <tr >
                  <th scope="col">FI</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Llegada</th>
                  <th scope="col">OC</th>
                  <th scope="col">Deseada</th>
                  <th scope="col">Obs Ventas</th>
                  <th scope="col">RC Ven</th>
                  <th scope="col">Autorizado Por</th>
                  <th scope="col">RC Aut</th>
                  <th scope="col">Factura</th>
                  <th scope="col">RC Fac</th>
                  <th scope="col">Embarcada</th>
                  <th scope="col">Chofer</th>
                  <th scope="col">Embarcador</th>
                  <th scope="col">Surtidor</th>
                  <th scope="col">Obs Alm</th>
                  <th scope="col">Entregado</th>
                  <th scope="col">Obs Cob</th>
                  <th scope="col">RC Cob</th>
                  <th scope="col">Tipo Cob</th>
                </tr>
              </thead>
              <tbody style="border: 1px solid black !important;  border-collapse: collapse !important;">
                <tr *ngFor="let dato of resVer" >
                  <th scope="row">{{dato.FolioInterno}}</th>
                  <td>{{dato.Cliente}}</td>
                  <td>{{dato.Estado}}</td>
                  <td>{{dato.FechaLlegada | date : 'short'}}</td>
                  <td>{{dato.OC}}</td>
                  <td>{{dato.FechaDeseada | date : 'short'}}</td>
                  <td>{{dato.ObservacionesVentas}}</td>
                  <td>{{dato.RCVentas | date : 'short'}}</td>
                  <td>{{dato.AutorizadoPor}}</td>
                  <td>{{dato.RCAutorizado | date : 'short'}}</td>
                  <td>{{dato.Factura}}</td>
                  <td>{{dato.RCFactura | date : 'short'}}</td>
                  <td>{{dato.FechaEmbarcada | date : 'short'}}</td>
                  <td>{{dato.Chofer}}</td>
                  <td>{{dato.Embarcador}}</td>
                  <td>{{dato.Surtidor}}</td>
                  <td>{{dato.ObservacionesAlmacen}}</td>
                  <td> {{dato.FechaEntregado | date : 'short'}}</td>
                  <td>{{dato.ObservacionesCobranza}}</td>
                  <td>{{dato.RCCobranza | date : 'short'}}</td>
                  <td>{{dato.TipoCobranza}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        </div>
      </div>
    </div>
</ng-container>
