<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-nav" href="#"><img src="../../../assets/img/logosilympng2.png" alt=""  style="width: 120px;" height="20%"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="Tipo == 'Ventas' || Tipo == 'Admin' || Tipo == 'Facturacion' || Tipo == 'Cobranza'">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['agregarCliente']">Agregar Cliente</a>
        </li>

      </ng-container>
      <ng-container *ngIf="Tipo == 'Ventas' || Tipo == 'Admin' || Tipo == 'Facturacion' || Tipo == 'Cobranza'">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['crearpedidos']">Crear Pedido</a>
        </li>

      </ng-container>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['enproceso']">En Proceso</a>
      </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/pendientes']"
        >Pendientes<span class="sr-only">(current)</span></a>
    </li>
      <ng-container *ngIf="Tipo == 'Cobranza' || Tipo == 'Admin'">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['autorizacion']">Por Autorizar</a>
        </li>
      </ng-container>
      <ng-container *ngIf="Tipo == 'Facturacion' || Tipo == 'Admin'">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['facturados']">Por Facturar</a>
        </li>
      </ng-container>
      <ng-container *ngIf="Tipo == 'Almacen' || Tipo == 'Admin'">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['embarcados']">Por Embarcar</a>
        </li>
      </ng-container>
      <ng-container *ngIf="Tipo == 'Cobranza' || Tipo == 'Admin'">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['entregados']">Por Entregar</a>
        </li>
      </ng-container>

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['buscar']">Buscar</a>
      </li>
      <ng-container *ngIf="Tipo == 'Admin'">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['login']">Usuarios</a>
        </li>
      </ng-container>

        <li class="nav-item active ml-0 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ng-container *ngIf="Tipo == 'Ventas' || Tipo == 'Admin' || Tipo == 'Facturacion' || Tipo == 'Cobranza'">
            <a class="dropdown-item" [routerLink]="['crearcompras']">Crear Compra</a>
          </ng-container>
          <ng-container *ngIf="Tipo == 'Admin' || Tipo == 'Compras'">
            <a class="dropdown-item" [routerLink]="['porPedir']">Por Pedir</a>
          </ng-container>
          <ng-container *ngIf="Tipo == 'Admin' || Tipo == 'Almacen'">
            <a class="dropdown-item" [routerLink]="['porRecibir']">Por Recibir</a>
          </ng-container>
            <a class="dropdown-item" [routerLink]="['enprocesocompras']" >En Proceso</a>
            <a class="dropdown-item"  [routerLink]="['buscarcompras']">Buscar</a>
          </div>
        </li>

    </ul>
    <ng-container *ngIf="Usuario == ''; else logout">
      <button class="btn btn-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal" (click)="mostrar()">
        Iniciar Sesion
      </button>
    </ng-container>
    <ng-template #logout>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active mr-4">{{ Usuario }} - {{ Tipo }}</li>
      </ul>
      <button class="btn btn-danger my-2 my-sm-0" (click)="logoutf()">Cerrar Sesion</button>
    </ng-template>
  </div>
</nav>
<ng-container *ngIf="sesion">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inicio de sesión</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="">Usuario:</label><br />
          <input type="text" [(ngModel)]="useri" (keyup)="checkUsuario()"/>
          <ng-container *ngIf="Usr">
           <i class="fas fa-check " style="color: rgb(6, 151, 26); "></i>
          </ng-container>
          <ng-container *ngIf="!Usr">
           <i class="fas fa-times " style="color: red; "></i>
          </ng-container>
          <br />
          <label for="">Contraseña:</label><br />
          <input type="password" [(ngModel)]="passwordi" (keyup)="checkPassword()" />
          <ng-container *ngIf="Pssw">
            <i class="fas fa-check " style="color: rgb(6, 151, 26); "></i>
           </ng-container>
           <ng-container *ngIf="!Pssw">
            <i class="fas fa-times " style="color: red; "></i>
           </ng-container>
          <br /><br />

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" [disabled]="!Pssw" (click)="inicio()">Iniciar Sesion</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

