<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                  <h5 class="card-title text-center">Crear Pedido Compra</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-text text-center">Ingresa los datos.</h5>
                    <form >
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Proveedor/Marca: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control col-sm-8"  name="provi" id="provi" [(ngModel)]="provi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Fecha Deseada: </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control col-sm-8"  name="fechadeseada" id="fechadeseada" [(ngModel)]="fechadeseada"
                                required>
                            </div>
                        </div>
                        <div class="form-check form-group row">
                            <div class="col-sm-8 text-center">
                                <mat-radio-group aria-label="Escoga una opcion: ">
                                    <mat-radio-button value="Stock" (change)="setTipo('Stock')" name="radio">Stock</mat-radio-button>
                                    <mat-radio-button value="Pedido" class="ml-2" (change)="setTipo('Pedido')" name="radio">Pedido</mat-radio-button>
                                </mat-radio-group>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Cliente: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control col-sm-8" #clientei [disabled]="tipo=='Stock'">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Productos:  </label>
                            <div class="col-sm-8">
                                <textarea name="productos" [(ngModel)]="productos" id="productos" cols="30" rows="5" ></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button  class="button btn-success btn-lg" style="width: 50%;"  (click)="crear(clientei.value)">Crear</button>
                        </div>
                    </form>
                </div>
              </div>
        </div>
        <div class="col"></div>
    </div>
</div>