<div class="container">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header text-center">
                LOGIN
                </div>
                <div class="card-body">
                    <h5 class="card-title">Iniciar Sesión</h5>
                    <label for="">Usuario:</label><br>
                    <input type="text"><br>
                    <label for="">Contraseña:</label><br>
                    <input type="password"><br><br>
                    <a href="#" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>  