<div class="table-responsive">
  <table class="table table-striped table-light table-hover table-sm border" >
    <thead class="thead-dark" >
      <tr >
        <th scope="col">FI</th>
        <th scope="col">Pedido Por</th>
        <th scope="col">Prov Marca</th>
        <th scope="col">Estado</th>
        <th scope="col">RC Pedido</th>
        <th scope="col">RC Comprado</th>
        <th scope="col">Fecha Estimada</th>
        <th scope="col">Fecha Deseada</th>
        <th scope="col">Tipo</th>
        <th scope="col">Cliente</th>
      </tr>
    </thead>
    <tbody style="border: 1px solid black !important;  border-collapse: collapse !important;">
      <tr *ngFor="let dato of enProceso, let i=index" >
        <th scope="row">{{dato.FolioInterno}}</th>
        <td>{{dato.PedidoPor}}</td>
        <td>{{dato.ProvMarca}}</td>
        <td class="table-warning">{{dato.Estado}}
          <ng-container *ngIf="tipo=='Admin'"><br>
            <button class="btn-success" (click)="Pendiente(dato.FolioInterno)">Pendiente</button>
            <button class="btn-primary" (click)="Pedido(dato.FolioInterno)">Pedido</button>
            </ng-container>
        </td>
        <td>{{dato.RCPedido | date : 'short'}}</td>
        <td>{{dato.RCComprado | date : 'short'}}</td>
        <td>{{dato.FechaEstimada | date : 'shortDate'}}</td>
        <td>{{dato.FechaDeseada | date : 'shortDate'}}</td>
        <td>{{dato.Tipo}}</td>
        <td>{{dato.Cliente}}</td>

      </tr>
    </tbody>
  </table>
</div>
