<div class="table-responsive">
  <table class="table table-striped table-light table-hover table-sm border" >
    <thead class="thead-dark" >
      <tr >
        <th scope="col">Folio Interno</th>
        <th scope="col">Cliente</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de Llegada</th>
        <th scope="col">Observaciones de Ventas</th>
        <th scope="col">RC de Ventas</th>
        <th scope="col">Factura</th>
        <th scope="col">RC de Factura</th>
        <th scope="col">Chofer</th>
        <th scope="col">Embarcador</th>
        <th scope="col">Observaciones de Almacen</th>
        <th scope="col">Fecha de Entregado</th>
        <th scope="col">Observaciones de Cobranza</th>
        <th scope="col">Tipo de Cobranza</th>
      </tr>
    </thead>
    <tbody style="border: 1px solid black !important;  border-collapse: collapse !important;">
      <tr *ngFor="let dato of embarcados" >
        <th scope="row">{{dato.FolioInterno}}</th>
        <td>{{dato.Cliente}}</td>
        <td class="table-warning">{{dato.Estado}}</td>
        <td>{{dato.FechaLlegada | date : 'short'}}</td>
        <td>{{dato.ObservacionesVentas}}</td>
        <td>{{dato.RCVentas}}</td>
        <td>{{dato.Factura}}</td>
        <td>{{dato.RCFactura | date : 'shortDate'}}</td>
        <td>{{dato.Chofer}}</td>
        <td>{{dato.Embarcador}}</td>
        <td>{{dato.ObservacionesAlmacen}}</td>
        <td>{{dato.FechaEntregado}}</td>
        <td>{{dato.TipoCobranza}}</td>
        <td>{{dato.ObservacionesCobranza}}</td>
        <td>
            <button class="btn btn-success" (click)="efectivo(dato.FolioInterno)">Efectivo</button><br>
            <button class="btn btn-warning" (click)="factura(dato.FolioInterno)">Factura</button><br>
            <button class="btn btn-primary" (click)="contraRecibo(dato.FolioInterno)">Contra Recibo</button><br>

        </td>
      </tr>
    </tbody>
  </table>
</div>
