<div class="table-responsive">
  <table class="table table-striped table-light table-hover table-sm border" >
    <thead class="thead-dark" >
      <tr >
        <th scope="col">FI</th>
        <th scope="col">Cliente</th>
        <th scope="col">Atn</th>
        <th scope="col">Estado</th>
        <th scope="col">Llegada</th>
        <th scope="col">Obs Ventas</th>
        <th scope="col">Factura</th>
        <th scope="col">RC Fac</th>
        <th scope="col">Chofer</th>
        <th scope="col">Embarcador</th>
        <th scope="col">Obs Almacen</th>
        <th scope="col">Fecha de Entregado</th>
        <th scope="col">Obs Cobranza</th>
        <th scope="col">Tipo de Cobranza</th>
      </tr>
    </thead>
    <tbody style="border: 1px solid black !important;  border-collapse: collapse !important;">
      <tr *ngFor="let dato of embarcados" >
        <th scope="row">{{dato.FolioInterno}}</th>
        <td>{{dato.Cliente}}</td>
        <td>{{dato.Atendido}}</td>
        <td class="table-warning">{{dato.Estado}}</td>
        <td>{{dato.FechaLlegada | date : 'short'}}</td>
        <td>{{dato.ObservacionesVentas}}</td>
        <td>{{dato.Factura}}</td>
        <td>{{dato.RCFactura | date : 'shortDate'}}</td>
        <td>{{dato.Chofer}}</td>
        <td>{{dato.Embarcador}}</td>
        <td>{{dato.ObservacionesAlmacen}}</td>
        <td><input type="datetime-local" style="width: 78%;" #fechaEnt> </td>
        <td><textarea name="obs" cols="15" rows="4" #obsCob value="{{dato.ObservacionesCobranza}}"></textarea></td>
        <td>
          <button class="btn btn-success" #ef value="Efectivo" (click)="updateCobranza(dato.FolioInterno,obsCob.value,ef.value,fechaEnt.value,dato.Estado)">Efectivo</button><br>
          <button class="btn btn-warning" #fac value="Factura" (click)="updateCobranza(dato.FolioInterno,obsCob.value,fac.value,fechaEnt.value,dato.Estado)">Factura</button><br>
          <button class="btn btn-primary" #cr value="ContraRecibo" (click)="updateCobranza(dato.FolioInterno,obsCob.value,cr.value,fechaEnt.value,dato.Estado)">Contra Recibo</button><br>
          <button class="btn btn-danger" #ne value="NoEntregado" (click)="updateCobranza(dato.FolioInterno,obsCob.value,ne.value,fechaEnt.value,dato.Estado)">No Entregado</button><br>
      </td>
      </tr>
    </tbody>
  </table>
</div>
